{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}






    <!-- Hero section -->
    <section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg">
        <div class="container">
            <h2>Contact</h2>
        </div>
    </section>
    <!-- Hero section end -->



    <!-- Search section -->
    <div class="search-form-section">
        <div class="sf-warp">
            <div class="container">
                <form class="big-search-form">
                    <select>
                        <option>All Recipes Categories</option>
                        <option>Pizza</option>
                        <option>Salads</option>
                        <option>Desserts</option>
                        <option>Side Dishes</option>
                    </select>
                    <select>
                        <option>All Ingredients</option>
                        <option>Breakfast</option>
                        <option>Lunch</option>
                        <option>Dinner</option>
                    </select>
                    <input type="text" placeholder="Search Receipies">
                    <button class="bsf-btn">Search</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Search section end -->

    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-form-warp">
                        <h4>Leave a comment</h4>
                        <form class="contact-form" method="post">
                            {% csrf_token %}
                            <div class="row">
                                {% crispy form %}
                                <button type="submit" class="site-btn">Send</button>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-logo">
                        <img src="img/logo.png" alt="">
                    </div>
                    <div class="contact-info">


                        {% for contact in contacts %}

                            <ul class="ct-list">
                                <li>
                                    <h6>Address:</h6>
                                    <p>{{ contact.address }}</p>

                                </li>
                                <li>
                                    <h6>Phone:</h6>
                                    <p>{{ contact.phone }}</p>

                                </li>
                                <li>
                                    <h6>Email:</h6>
                                    <p>{{ contact.email }}</p>
                                </li>
                            </ul>
                            <div class="contact-social">
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
            <!-- map -->
            <div class="location-map" id="map-canvas"></div>
        </div>
    </section>

    <!-- Gallery section -->
    <div class="gallery">
        <div class="gallery-slider owl-carousel">
            <div class="gs-item set-bg" data-setbg="{{ contactgallery.image1.url }}"></div>
            <div class="gs-item set-bg" data-setbg="{{ contactgallery.image2.url }}"></div>
            <div class="gs-item set-bg" data-setbg="{{ contactgallery.image3.url }}"></div>
            <div class="gs-item set-bg" data-setbg="{{ contactgallery.image4.url }}"></div>
            <div class="gs-item set-bg" data-setbg="{{ contactgallery.image5.url }}"></div>
            <div class="gs-item set-bg" data-setbg="{{ contactgallery.image6.url }}"></div>

        </div>
    </div>
    <!-- Gallery section end -->



{% endblock %}



