{% extends 'base.html' %}
{% load static %}
{% load range %}
{% block content %}



	<!-- Hero section -->
    <!--done-->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
            {% for slider in sliders %}

			<div class="hero-slide-item set-bg" data-setbg="{{ slider.image.url }}">
				<div class="hs-text">
					<h2 class="hs-title-1"><span>{{ slider.title1 }}</span></h2>
					<h2 class="hs-title-2"><span>{{ slider.title2 }}</span></h2>
					<h2 class="hs-title-3"><span>{{ slider.title3 }}</span></h2>
				</div>
			</div>
            {% endfor %}



		</div>
	</section>
	<!-- Hero section end -->


	<!-- Add section end -->
    <!--done-->
	<section class="add-section spad">
		<div class="container">
			<div class="add-warp">
				<div class="add-slider owl-carousel">
					<div class="as-item set-bg" data-setbg="{{ ad.image1.url }}"></div>
					<div class="as-item set-bg" data-setbg="{{ ad.image2.url }}"></div>
					<div class="as-item set-bg" data-setbg="{{ ad.image3.url }}"></div>
				</div>
				<div class="row add-text-warp">
					<div class="col-lg-4 col-md-5 offset-lg-8 offset-md-7">
						<div class="add-text text-white">
							<div class="at-style"></div>
							<h2>Amazing deserts</h2>
							<ul>
								<li>{{ ad.text1 }}</li>
								<li>{{ ad.text2 }}</li>
								<li>{{ ad.text3 }}</li>
								<li>{{ ad.text4 }}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Add section end -->


	<!-- Recipes section -->
    <!--done-->
	<section class="recipes-section spad pt-0">
		<div class="container">
			<div class="section-title">
				<h2>Latest recipes</h2>
			</div>
			<div class="row">

                {% for recipe in recipes %}


				<div class="col-lg-4 col-md-6">
					<div class="recipe">
						<img src="{{ recipe.image.url }}" alt="">
						<div class="recipe-info-warp">
								<div class="recipe-info">
								<h3>{{recipe.title}}</h3>

								<div class="rating">

                                    {% for i in recipe.rating|range %}
									<i class="fa fa-star"></i>
                                        {% endfor %}


								</div>
							</div>
						</div>
					</div>
				</div>

                {% endfor %}

			</div>
		</div>
	</section>
	<!-- Recipes section end -->


<!-- Footer widgets section -->
	<section class="bottom-widgets-section spad">
		<div class="container">
			<div class="row">
                <div class="col-lg-4 col-md-6 ftw-warp">
					<div class="section-title">
                        <h3>Top Rated Food</h3>
					</div>
                    {% for footer in footers %}

					<ul class="sp-recipes-list">
						<li>
							<div class="rl-thumb set-bg" data-setbg="{{ footer.image1.url }}"></div>
							<div class="rl-info">
								<span>{{ footer.date }}</span>
								<h6>{{ footer.title2 }}</h6>
								<div class="rating">
                                     {% for i in footer.rating|range %}
									<i class="fa fa-star"></i>
                                         {% endfor %}

								</div>
							</div>
						</li>
                     {% endfor %}
                    </ul>

				</div>
				<div class="col-lg-4">
					<div class="sp-blog-item">
						<div class="blog-thubm">
							<img src="media/add/1.jpg" alt="">
							<div class="blog-date">
								<span>May 04, 2018</span>
							</div>
						</div>
						<div class="blog-text">
							<h5>Italian restaurant Review</h5>
							<span>By Maria Williams</span>
							<p>Donec quam felis, ultricies nec, pellente sque eu, pretium quis, sem. Nulla conseq uat massa quis enim. </p>
							<a href="#" class="comment">2 Comments</a>
							<a href="#" class="readmore"><i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>






		</div>
	</section>
	<!-- Footer widgets section end -->



	<!-- Review section end -->
    <!--Done-->
	<section class="review-section">
		<div class="container">
			<div class="row">

             {% for review in reviews %}


				<div class="col-lg-6 col-md-8 offset-lg-0 offset-md-2">
                    <div class="review-item">
                        <div class="review-thumb set-bg" data-setbg="{{ review.image.url }}">
							<div class="review-date">
								<span>{{ review.date}}</span>
							</div>
						</div>
						<div class="review-text">
							<span>{{ review.date }}</span>
							<h6>{{ review.title }}</h6>
							<div class="rating">
                                {% for i in review.rating|range %}
								<i class="fa fa-star"></i>
                                    {% endfor %}

							</div>

							<div class="author-meta">
								<div class="author-pic set-bg" data-setbg="{{ review.image.url }}"></div>
								<p>{{ review.author }}</p>
							</div>
						</div>
                    </div>
                </div>
             {% endfor %}
			</div>
		</div>


	</section>
	<!-- Review section end -->


	<!-- Gallery section -->
    <!--done-->
	<div class="gallery">
		<div class="gallery-slider owl-carousel">
			<div class="gs-item set-bg" data-setbg="{{ gellary.image1.url }}"></div>
			<div class="gs-item set-bg" data-setbg="{{ gellary.image2.url }}"></div>
			<div class="gs-item set-bg" data-setbg="{{ gellary.image3.url }}"></div>
			<div class="gs-item set-bg" data-setbg="{{ gellary.image4.url }}"></div>
			<div class="gs-item set-bg" data-setbg="{{ gellary.image5.url }}"></div>
			<div class="gs-item set-bg" data-setbg="{{ gellary.image6.url }}"></div>
		</div>
	</div>
	<!-- Gallery section end -->



{% endblock %}